
.start-screen{
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        position: absolute;
        bottom: 100px;
        width: 20vw;
        height: 10vh;
        border-radius: 10px;
        font-size: 32px;
        cursor: pointer;
        background: linear-gradient(0deg, rgba(200,108,33,1) 0%, rgba(194,115,4,1) 49%, rgba(255,21,0,1) 100%);
        &:hover{
            background: rgba(112, 16, 3, 0.9);
        }
    }
}

.main-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    border-radius: 10px;
    height: 10vh;
    width: 50vw;
    
}